@use 'src/styles/vars' as v;


.btn {
  border-top: 1px solid black;
  border-left: 1px solid black;
  line-height: 3rem;
  min-width: 25%;
  width: 25%;
  &-last {
    background-color: #FFE2BA;
    border-right: 1px solid black;
  }
  &_last-row {
    width: 100%;
  }
}

.cancel {
  background-color: lightcoral;
  color: white;
}
.validate {
  background-color: lightblue;
}

.calc {
  &__input {
    width: 100%;
    height: 3rem;
    text-align: right;
    color: white;
    background-color: #8BB395;
    border: none;
    &::placeholder {
      color: white;
      font-weight: bold;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
  }
}

.rowOne {
  background-color: #9782B3;
}
.row {
  display: flex;
  width: 100%;
  height: 3rem;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #e6d3ff;
}

.container {
  width: 100%;
  color: #003F3F;
  padding: 5%;
  font-weight: bold;
  font-size: 1.5rem;
}

.last_row {
  width: 100%;
  display: grid;
  background-color: #e6d3ff;
  border-bottom: 1px solid black;
  grid-template-columns: 2fr 1fr 1fr;
}
